.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 2;
    order: 2;
    min-height: 80vh;
    background-color: #17181f;
}
.left-sidebar {
    order: 1;
    flex: 1;
    background-color: #17181f;
}
.right-sidebar {
    order: 3;
    flex: 1;
    background-color: #17181f;
}
