#input-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    border: 2px solid #363741;
    border-radius: 10px;
    background-color: #1a1b24;
    height: 60px;
    
}
#text {
    flex: 6;
    padding: 5px 10px;    
    margin-left: 10px;
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */  
    font-size: 20px;
    background-color: #1a1b24;
    color: white;
}
.add {
    flex: 1;
    margin-left: 20px;
    vertical-align: middle;
    position: relative;
}
.check {
    flex: 1;
    margin-left: 20px;    
}