.items-container {
    display: inline-flex;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    padding-left: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #363741;
    border-radius: 10px;
    background-color: #1a1b24;
    font-size: 16px;
    color: white;
}

.checkbox {
    flex: 0.4;
}

.todos_span {
    flex: 4.6;
}

.todos_delete_container, .todos_edit_container {
    padding: 5px;
}
.doneItem {
    text-decoration: line-through;
	text-decoration-color: white;
}